<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TypingWpf.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TypingWpf.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TypingWpf.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value>Zoe</value>
            </setting>
        </TypingWpf.Properties.Settings>
    </userSettings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <!--<connectionStrings>
        <add name="TypeCatchDb" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\apigida\OneDrive\Public\AppData\TypeCatch\TypeCatchDb.mdf;Integrated Security=True;Connect Timeout=10;User Instance=True;"	providerName="System.Data.SqlClient" />
    </connectionStrings>-->

  <system.diagnostics>
    <switches>
      <!--0-off, 1-error, 2-warn, 3-info, 4-verbose. -->
      <add name="CfgTraceLevelSwitch" value="2"/>
    </switches>
  </system.diagnostics>
  <applicationSettings>
    <TypingWpf.Properties.Settings>
      <setting name="ReadOnlyUsr" serializeAs="String">
        <value>haha</value>
      </setting>
      <setting name="ReadOnlyKey" serializeAs="String">
        <value>haha</value>
      </setting>
    </TypingWpf.Properties.Settings>
  </applicationSettings>
</configuration>
